*.o
*.obj
*.elf
*.a
*.exe
*.hex
*.gch

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

extra/nordic/Phonescore/*
!extra/nordic/Phonescore/score_service.cpp
!extra/nordic/Phonescore/main.cpp

*.DS_Store

*/.idea/*
.idea/*
*/build/*
CMakeFiles/*
Makefile
CMakeCache.txt
cmake_install.cmake
